<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion de SSM - MINDWARE</title>
</head>
<body>
<form id="login-form" action="/login" method="post">
    <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar Sesión</button>
</form>
<p th:if="${error}" th:text="${error}"></p>

</body>
</html>